<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conn" value="Data Source=localhost; Initial Catalog=SgmOc_Diarco; User Id=sgmoc; Password=sgmocdev;"/>
	  <add key="connDiarco" value="Data Source=192.168.0.5; Initial Catalog=Diarcop; User Id=sa; Password=admin01;"/>

  </appSettings>
</configuration>