<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Sgm.OC.Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
  <appSettings>
    <add key="urlLocal" value="localhost"/>
    <add key="portLocal" value="3000"/>
    <add key="urlVPN" value="192.168.0.180"/>
    <add key="portVpn" value="9445"/>
    <add key="schema" value="http"/>
    <add key="urlTemplate" value="{0}://{1}:{2}/auth/?token="/>
    <add key="radioButtonDefault" value="json"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
